// Fonts

$font: 'Onest', sans-serif;

// Colors

$dark-blue: #2D313E;
$accent: #435EBE;
$hover: #41BADC;
$white: #FFF;
$stage-bg: #F2F5FD;
$footer-bg: #F6F7F8;
$header-bg: #F6F7F8;

// Media

$laptop: 1200px;
$tablet: 1000px;
$mobile: 760px;
$mobile-s: 460px;